<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
   <section name="BridgeConfiguration" type="TradePlatform.MT4.Core.Config.BridgeConfiguration, TradePlatform.MT4.Core"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	
	<BridgeConfiguration wcfBaseAddress="http://localhost:8080/TradePlatform">
    <Hosts>
      <Host name="host1" ipAddress="127.0.0.1" port="2007">
        <Handlers>
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
        </Handlers>
      </Host>
    </Hosts>
  </BridgeConfiguration>

  <system.serviceModel>
    <services>
      <service name="TradePlatform.MT4.Data.TradePlatformDataService">
        <endpoint address="http://localhost:9000/TradePlatform/svc" binding="webHttpBinding" contract="System.Data.Services.IRequestHandler"/>
      </service>
    </services>
  </system.serviceModel>
 
</configuration>